 .btn {
  display: inline-block;
  border-radius: 20px;
  background: #E2B4BD;
  color: #424B54;
  padding: 12px 22px;
  // font-weight: bold;
  border: 1.5px solid #9B6A6C;
  opacity: 0.8;
  // font-family: $banner;
  font-family: 'Montserrat', sans-serif;
 }

 .btn:hover {
  background: #9B6A6C;
  color: white;
 }
